<p-table #dt [value]="drivers" [(selection)]="selectedDriver" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="TZ">TZ <p-sortIcon field="TZ"></p-sortIcon></th>
                    <th pSortableColumn="city">city <p-sortIcon field="city"></p-sortIcon></th>
                    <th pSortableColumn="street">street <p-sortIcon field="street"></p-sortIcon></th>
                    <th style="width: 8rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-driver>
                <tr class="p-selectable-row">
                    <td>
                        <span class="p-column-title">Name</span>
                        {{driver.name}}
                    </td>
                    <td>
                        <span class="p-column-title">TZ</span>
                        <span class="image-text">{{driver.TZ}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">city</span>
                        <span class="image-text">{{driver.city}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">street</span>
                        <span class="image-text">{{driver.street}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>